.card {
    border: 1px solid #ccc;
    border-radius: 4px;
    flex-basis: 100%;
    margin: 20px 0;
    text-align: left;
}

@media screen and (min-width: 800px) {
    .card {
        margin: 20px;
        flex-basis: calc(50% - 42px);
    }
}

@media screen and (min-width: 1024px) {
    .card {
        flex-basis: calc(33.3333333% - 42px);
    }
}

.card header {
    color: #282c34;
    position: relative;
}

.card header .label {
    background-color: #ccc;
    margin: 0;
    padding: 5px 10px;
}

.card header .meta {
    right: 10px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.card__content {
    padding: 0 10px;
}

.card__content ul {
    margin-left: 0;
    padding-left: 1em;
}
